{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}

  <form action="" method="get" class="form-inline">
  {{ search_form|crispy }}
    <input type="submit" value="🔍">
  </form>

<table class="table">
  <tr>
    <th><a href="?order_by=name">Name</a></th>
    <th><a href="?order_by=position">Position</a></th>
    <th><a href="?order_by=hire_date">Hire date</a></th>
    <th><a href="?order_by=email">Email</a></th>
    <th><a href="?order_by=manager">Manager</a></th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
    {% for employee in employee_list %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.hire_date }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.manager }}</td>
        <td><a href="{% url "create_hierarchy:employee_update" pk=employee.id %} ">Update</a></td>
        <td><a href="{% url "create_hierarchy:employee_delete" pk=employee.id %} ">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"></li>
      <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="page-link">prev</a>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item"></li>
      <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="page-link">next</a>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
